@using Northwind.Models
@model Discount


<form method="post" asp-action="AddDiscount">
    <div asp-validation-summary="All" style="color:red;" id="error"></div>
    <div class="form-row">
        @*<div class="form-group col-md-6">
                <label asp-for="">DiscountID</label>
                <input disabled asp-for="@Model.DiscountID" class="form-control" placeholder="discountID" />
            </div>*@
        <div class="form-group col-md-6">
            <label asp-for="@Model.Code">Code</label>
            <input asp-for="@Model.Code" class="form-control" placeholder="Code" id="code" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Title">Title</label>
            <input asp-for="@Model.Title" class="form-control" placeholder="Title" id="title" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.DiscountPercent">Discount Percentage</label>
            <input asp-for="@Model.DiscountPercent" class="form-control" placeholder="Discount Percentage" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.ProductID">Product</label>
            <select id ="product" asp-for="@Model.ProductID" class="form-control"
                asp-items='@(new SelectList(ViewBag.ListofProducts,"ProductId","ProductName"))'>
                <option>Select a Product</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.StartTime">Start Time</label>
            <input type="date"  id="startTime" asp-for="@Model.StartTime" class="form-control" placeholder="Start Time" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.EndTime">End Time</label>
            <input id ="endTime"type="date" asp-for="@Model.EndTime" class="form-control" placeholder="End Time" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="@Model.Description">Description</label>
            <textarea asp-for="@Model.Description" class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary" id="submitBtn">Save</button>

</form>

@section scripts
    {
    <script>
        //find random number
        var rando = Math.floor(Math.random() * 9999) + 1001;
        //set code to random number
        $('#code').val(rando);

        //find todays date
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        //set min value to todays date
        $('#startTime').attr("min", today);

        //validation
        $('#submitBtn').on('click', function () {
            // clear error div
            $('#error').html("");

            var title = $('#title').val();
            var product = $('#product').val();
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();

            var titleBool = true;
            var productBool = true;
            var startBool = true;
            var endBool = true;

            console.log(title);

            if ($('#title').val() == "") {
                $('#error').append("You must add a title<br>");
                titleBool = false;
            }
            if (product == "Select a Product") {
                $('#error').append("you must choose a product<br>");
                productBool = false
            }
            if (startTime == "") {
                $('#error').append("you must choose a startTime<br>");
                startBool = false
            }
            if (endTime == "") {
                $('#error').append("you must choose a endTime<br>");
                endBool = false
            }
            if (titleBool && productBool && startBool && endBool) {
                return true;
            } else {
                console.log(titleBool, productBool, startBool, endBool);
                return false; 
            }
            //alert($('#title').val()); 
        });
    </script>
}